apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: {{ k8s_ca }}
    server: https://{{ k8s_endpoint }}:{{ k8s_apiserver_port }}
  name: {{ k8s_name }}
users:
- name: {{ k8s_user }}
  user:
    client-certificate-data: {{ k8s_user_crt }}
    client-key-data: {{ private_key | b64encode | replace('\n', '') }}
contexts:
- context:
    cluster: {{ k8s_name }}
    user: {{ k8s_user }}
    namespace: {{ k8s_ns }}
  name: {{ k8s_context }}
current-context: {{ k8s_context }}
