kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
 namespace: "{{ k8s_ns }}"
 name: "{{ k8s_role }}"
rules:
- apiGroups: [""]
  resources: ["pods", "services"]
  verbs: ["create", "get", "update", "list", "delete"]
- apiGroups: ["apps"]
  resources: ["deployments", "replicasets"]
  verbs: ["create", "get", "update", "list", "delete"]
