kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
 namespace: "{{ k8s_ns }}"
 name: "{{ k8s_role }}"
rules:
- apiGroups: [""]
  resources: ["pods", "services", "pods/log"]
  verbs: ["create", "get", "update", "list", "delete", "patch"]
- apiGroups: ["apps"]
  resources: ["deployments", "replicasets", "deployments/scale"]
  verbs: ["create", "get", "update", "list", "delete", "patch"]
